@media (max-width: 1370px) {
  .header-nav__list {
    gap: 25px;
  }

  .header-nav__list--active {
    display: none;
  }
}

@media (max-width: 1024px) {

  .btn:focus {
    background-color: #ff9900;
  }

  .container {
    width: calc(100% - 100px);
    margin: 0 auto;
  }

  .section {
    margin-bottom: 80px;
  }

  .header-container {
    padding: 26px 0;
  }

  .header-logo__svg {
    width: 150px;
    height: 48px;
  }

  .header-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: min(420px, 60%);
    height: 100vh;
    z-index: 2000;
    padding: 162px 50px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header-nav__list {
    flex-direction: column;
    align-items: baseline;
    margin: 0;
    gap: 60px;
  }

  .header-nav__list--active {
    display: flex;
    gap: 60px;
  }

  .header-nav__link:focus {
    outline: none;
  }

  .header-nav--active {
    visibility: visible;
    transform: none;
  }

  .burger {
    display: inline-block;
    z-index: 3000;
  }

  .burger__line {
    transition: fill 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }

  .burger--active
  .burger__line:first-child {
    transform: translateX(5px) translateY(0px) rotate(45deg);
  }

  .burger--active
  .burger__line:nth-child(2) {
    fill: transparent;
  }

  .burger--active
  .burger__line:last-child {
    transform: translateX(-11px) translateY(7px) rotate(-45deg);
  }

  .stop-scroll {
    overflow: hidden;
  }

  .header-logo:focus {
    outline: none;
  }

  .hero__title {
    flex-grow: 2;
    font-size: 60px;
    line-height: 73px;
    width: 93.5%;
  }

  .hero__descr {
    flex-grow: 10;
    width: 86%;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .hero-body {
    top: 23.7%;
    left: 8.4%;
    width: 90%;
    height: 52%;
  }

  .swiper-slide {
    min-height: 668px;
  }

  .about__title {
    margin-bottom: 9px;
  }

  .about__text {
    margin-bottom: 61px;
  }

  .about-cards {
    flex-direction: column;
    min-height: 1262px;
  }

  .about-big,
  .about-small {
    width: 100%;
  }

  .about-small {
  min-height: 295px;
  }

  .about-small .about-card__item {
    padding-right: 155px;
    padding-left: 34.3%;
  }

  .about-big {
    min-height: 640px;
  }

  .we-work__title {
    margin-bottom: 50px;
  }

  .we-work-steps {
    margin-bottom: 50px;
  }

  .we-work__text {
    margin-bottom: 25px;
    min-height: 576px;
  }

  .we-work-body__content,
  .we-work-body__background {
    width: calc(100% - 50px);
    max-width: 437px;
  }

  .footer-text {
    display: none;
  }

  .faq__title {
    margin-bottom: 32px;
  }

  .faq-list__text {
    font-size: 20px;
    max-width: 756px;
  }

  .footer-form {
    max-width: 540px;
  }

  .footer-form-block {
    margin-right: 0;
  }

  .footer-form__btn {
    padding: 19px 37px;
  }

}

@media (max-width: 768px) {

  .header-container {
    padding: 9px 0;
  }

  .header-logo--active {
    width: 0;
  }

  .swiper-slide {
    min-height: 662px;
  }

  .hero-body {
    top: 24.1%;
    left: 6%;
    width: 88%;
  }

  .hero__title {
    width: 100%;
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .about-cards {
    min-height: 0px;
  }

  .about-big {
    min-height: 650px;
  }

  .about-card-big__content {
    padding: 34px 40px;
  }

  .about-card-big__descr {
    width: 70%;
  }

  .about-small .about-card__item {
    padding: 35px 46px 35px 25.4%;
  }

  .about-small .about-card__item:nth-child(1) {
    background-image: url(../img/about/box.svg);
    background-size: 17.22% auto;
    background-position-y: center;
    background-position-x: 7%;
    background-repeat: no-repeat;
  }

  .about-small .about-card__item:nth-child(2) {
    background-image: url(../img/about/gear.svg);
    background-size: 17.22% auto;
    background-position-y: center;
    background-position-x: 7%;
    background-repeat: no-repeat;
  }

  .we-work__title {
    margin-bottom: 44px;
  }

  .we-work__sub-title {
    margin-bottom: 12px;
  }

  .we-work-steps {
    justify-content: space-between;
    gap: 0;
  }

  .we-work-body {
    flex-direction: column-reverse;
    gap: 38px;
  }

  .we-work-body__content,
  .we-work-body__background {
    width: 100%;
    max-width: 100%;
  }

  .we-work__text {
    min-height: auto;
  }

  .we-work-body__background {
    min-height: 284px;
  }

  .faq-list__text {
    max-width: 570px;
  }

  .ac .ac-trigger {
    font-size: 20px;
    line-height: 32px;
  }

  .footer {
    padding: 55px 0;
  }

  .footer-container {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .footer-nav {
    display: none;
  }

  .footer-logo {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {

  .section {
    margin-bottom: 60px;
  }

  .section-title {
    font-size: 24px;
    line-height: 29px;
  }

  .section-text {
    font-size: 14px;
    line-height: 28px;
  }

  .btn {
    font-size: 12px;
    line-height: 15px;
  }

  .container {
    width: calc(100% - 30px);
    margin: 0 auto;
  }

  .header-left--active {
    width: 100%;
  }

  .header-logo__svg {
    width: 110px;
    height: 35px;
  }

  .header-logo--active {
    display: none;
  }

  .burger--hide {
    display: none;
  }

  .search-form--active {
    padding: 5px 0 6px 0;
    width: 100%;
    max-width: none;
    box-shadow: none;
    border-radius: 0;
    transition: width 0.3s ease-in-out;
  }

  .search-form__input--active {
    width: 100%;
    margin: 0;
  }

  .header-nav {
    width: 100%;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .swiper-slide {
    min-height: 308px;
  }

  .hero-body {
    align-items: center;
    top: 19%;
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 6px;
  }

  .hero__descr {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 32px;
  }

  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 15px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }

  .swiper-pagination-bullet-active, .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .hero-btn {
    padding: 13px 28px;
    max-width: 162px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__text {
    margin-bottom: 15px;
  }

  .about-cards {
    gap: 26px;
  }

  .about-big {
    min-height: 0;
    background: none;
    gap: 8px;
  }

  .about-card-big__background {
    min-height: 200px;
    background-image: url(../img/about/worker.jpg);
    background-size: cover;
  }

  .about-card-big__content {
    flex-direction: column;
    align-items: baseline;
    padding: 0;
    background-color: transparent;
  }

  .about-card-big__descr {
    margin: 0;
    width: 100%;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333333;
  }

  .about-card-big__button {
    color: #ff9900;
    padding: 11px 40px;
  }

  .about-small .about-card__item {
    outline: none;
    padding: 0;
    padding-top: 60px;
  }

  .about-small .about-card__item:nth-child(1) {
    background-size: auto 60px;
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat;
  }

  .about-small .about-card__item:nth-child(2) {
    background-image: url(../img/about/gear.svg);
    background-size: auto 60px;
    background-position-y: top;
    background-position-x: left;
    background-repeat: no-repeat;
  }

  .about-card__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .we-work-body {
    gap: 16px;
  }

  .we-work__title {
    margin-bottom: 20px;
  }

  .we-work-steps {
    margin-bottom: 15px;
  }

  .we-work-steps__link {
    font-size: 14px;
    line-height: 17px;
  }

  .we-work-body__background {
    min-height: 160px;
  }

  .we-work__sub-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 8px;
  }

  .we-work__text {
    margin-bottom: 16px;
  }

  .we-work-btn_link {
    padding: 11px 44px;
    margin: 0;
    margin-right: 7px;
  }

  .we-work-btn_download {
    padding: 10px 30px;
  }

  .faq__title {
    margin-bottom: 16px;
  }

  .ac .ac-trigger {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__subheader {
    max-width: 85%;
  }

  .faq-list__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    max-width: 243px;
  }

  .faq-list__icon {
    width: 30px;
    height: 30px;
  }

  .footer {
    padding-top: 32px;
  }

  .footer-container {
    gap: 0;
    align-items: center;
  }

  .footer-form__textarea {
    margin-bottom: 25px;
  }

  .footer-form__btn {
    padding: 12px 23px;
  }

  .footer-form__checkbox__text {
    padding: 0;
    padding-left: 14px;
  }

  .footer-links {
    border-top: 1px solid #595959;
  }

  .footer-form__checkbox__text::before {
    left: -1px;
  }

  .footer-form__submit {
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }

  .footer-form__btn {
    margin: 0;
  }

  .footer-logo {
    margin-bottom: 0;
  }

  .footer-logo__svg {
    width: 131px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-socials {
    justify-content: space-between;
    gap: 16px;
  }

  .footer-socials__icon {
    width: 40px;
    height: 40px;
  }
}
