html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* glob */


.btn {
  margin: 0;
  padding: 25px 37px;
  max-height: 78px;
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF9900;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:hover {
  background-color: rgba(255, 153, 0, 0.7);
}

.btn:active {
  background-color: #E1670E;
}

.section {
  margin-bottom: 100px;
}

.section-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.list-reset {
  list-style: none;
  padding: 0;
}

.container {
  width: calc(100% - 150px);
  --cont-width: 1770px;
  max-width: var(--cont-width);
  margin: 0 auto;
}

.section-title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #333333;
}

.sub-title {
  margin: 0;
}

/* header */

.header {
  width: 100%;
  max-height: 100px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  max-height: 100px;
}

.header-logo__svg {
  transition: width 0.3s ease-in-out;
}

.burger {
  display: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger--show {
  display: inline-block;
}

.burger__line {
  fill: #333;
}

.header-nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  transition: color 0.3s ease-in-out;
}

.header-nav__link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 2px;
  width: 100%;
  background-color: #FF9900;
  opacity: 0;
  transition: opacity 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}


.header-nav__link:focus {
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}

.header-nav__link:hover::before {
  opacity: 1;
}

.header-nav__link:active {
  color: #E1670E;
}

.header-nav__link:active::before {
  background-color: #E1670E;
}

.header-nav__link:active::after {
  opacity: 0;
}

.header-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-nav__list {
  display: flex;
  align-items: center;
  gap: 85px;
  margin-right: 68px;
  transition: gap 0.3s ease-in-out;
}

.header-nav__list--active {
  gap: 32px;
}

.header__btn-search {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__btn-search:focus {
  outline: 2px solid #ff9900;
  outline-offset: 4px;
}

.header__btn-search:hover .header__icon_search {
  stroke: #ff9900;
}
.header__btn-search:hover .header__icon_search_rect {
  fill: #ff9900;
}

.header__btn-search:active {
  outline: none;
}

.header__icon_search {
  stroke: #333;
  width: 24px;
  transition: stroke 0.3s ease-in-out;
}

.header__icon_search--active {
  width: 0;
}

.header__icon_search_rect {
  fill: #333;
  transition: fill 0.3s ease-in-out;
}

.search-form {
  display: flex;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.search-form--active {
  width: fit-content;
  max-width: 540px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  padding: 16px 16px 16px 32px;
  border-radius: 16px;
  transition: width 0.3s ease-in-out;
}

.search-form__input {
  margin-right: 14px;
  border: none;
  outline: none;
  border-bottom: 1px solid #dcdcdc;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #333;
  width: 0;
}

.search-form__input--active {
  width: clamp(180px, 22.05vw, 412px);
  transition: width 0.3s ease-in-out;
}

.search-form__input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ADADAD;
}

.search-form__btn_search,
.search-form__btn_close {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search-form__btn_search {
  margin-right: 20px;
}

.search-form__icon_search {
  stroke: #ff9900;
  width: 0px;
}

.search-form__icon_close {
  stroke: #999;
  width: 0px;
}

.search-form__icon--active {
  width: 24px;
}

.search-form__icon_search_rect {
  fill: #ff9900;
}

.search-form__icon_close_rect {
  fill: #999;
}


/* hero */

.swiper {
  width: 100%;
}

.swiper-slide {
  height: 15vw;
  min-height: 620px;
}

.hero-slide_1 {
  background-image: url(../img/hero/background.jpg);
  background-position: center;
  background-size: cover;
}

.hero-slide_2 {
  background-image: url(../img/hero/background-2.jpg);
  background-position: center;
  background-size: cover;
}

.hero-slide_3 {
  background-image: url(../img/hero/background-3.jpg);
  background-position: center;
  background-size: cover;
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.4;
  transition: opacity 0.3s ease-in-out;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 30px;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hero-container {
  position: relative;
}

.hero-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  z-index: 1000;
  width: max(700px, 47%);
  height: 68%;
  top: 16%;
  left: 4.5%;
}

.hero__title {
  flex-grow: 2;
  margin: 0;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero__descr {
  flex-grow: 8;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.hero-btn {
  color: #fff;
  max-width: 280px;
}

.hero-bullet {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 20px;
  right: calc(50% - 42px);
  bottom: 30px;
}

.hero-bullet_small {
  display: none;
}

/* About us */

.about__title {
  margin-bottom: 19px;
}

.about__text {
  max-width: 1235px;
  margin-bottom: 50px;
}

.section-text {
  margin: 0;
  margin-bottom: 50px;
}

.about-cards {
  display: flex;
  gap: 32px;
}

.about-card__text {
  margin: 0;
}

.about-small {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-small .about-card__item {
  padding: 65px 100px 65px 34.5%;
  outline: 1px solid #CACACA;
}

.about-small .about-card__item:nth-child(1) {
  background-image: url(../img/about/box.svg);
  background-size: 21.8% auto;
  background-position-y: center;
  background-position-x: 9%;
  background-repeat: no-repeat;
}

.about-small .about-card__item:nth-child(2) {
  background-image: url(../img/about/gear.svg);
  background-size: 21.8% auto;
  background-position-y: center;
  background-position-x: 9%;
  background-repeat: no-repeat;
}

.about-big,
.about-small {
  width: calc((100% - 32px) / 2);
}

.about-big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background: url(../img/about/worker.jpg);
  background-size: cover;
  background-position: center;
}

.about-card-big__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-card-big__descr {
  margin: 0;
  width: 60%;
  margin-right: 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about-card-big__button {
  padding: 17px 35px;
  background-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: 3px solid #FF9900;
}

.about-card-big__button:focus {
  background-color: #FF9900;
}

.about-card-big__button:hover {
  background-color: #FF9900;
}

.about-card-big__button:active {
  background-color: #E1670E;
  border-color: #E1670E;
}

.about-card__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 8px;
}

/* we-work */

.we-work__title {
  margin-bottom: 48px;
}

.we-work-steps {
  display: flex;
  gap: 85px;
  margin: 0;
  margin-bottom: 46px;
}

.we-work-steps__btn {
  width: 52px;
  padding: 0;
  background-color: transparent;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.we-work-steps__btn:focus {
  outline: 2px solid #ff9900;
  outline-offset: 5px;
}

.we-work-steps__btn:hover {
  color: #ff9900;
}

.we-work-steps__btn:hover {
  color: #E1670E;
  outline: none;
}

.we-work-steps__btn:last-child {
  width: fit-content;
}

.we-work-body {
  display: none;
  justify-content: space-between;
}

.we-work-body--active {
  display: flex;
}

.we-work-body__content {
  max-width: 42.8%;
}

.we-work__text {
  min-height: 320px;
}

.we-work-body__background {
  width: 49.2%;
  background-size: cover;
  background-position: center;
}

.we-work__background_1 {
  background-image: url(../img/we-work/we-work-1.jpg);
}

.we-work__background_2 {
  background-image: url(../img/we-work/we-work-2.jpg);
}

.we-work__background_3 {
  background-image: url(../img/we-work/we-work-3.jpg);
}

.we-work__background_4 {
  background-image: url(../img/we-work/we-work-4.jpg);
}

.we-work__sub-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.we-work-steps__btn--active {
  color: #E1670E;
  width: fit-content;
}

.we-work-btn_link {
  display: inline-block;
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-right: 28px;
}

.we-work-btn_link:focus {
  background-color: #F7B045;
}

.we-work-btn_link:hover {
  background-color: #F7B045;
}

.we-work-btn_link:active {
  background-color: #E1670E;
}

.we-work-btn_download {
  display: inline-block;
  padding: 19px 37px;
  border: 1px solid #333;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.we-work-btn_download:focus {
  background-color: #666;
  color: #fff;
}

.we-work-btn_download:hover {
  background-color: #666;
  color: #fff;
}

.we-work-btn_download:active {
  background-color: #000;
  color: #fff;
}

/* faq */

.faq__title {
  margin-bottom: 42px;
}

.faq-item {
  margin: 0;
  border: none;
}

.faq__subheader {
  max-width: 90%;
}

.ac .ac-trigger::after {
  display: none;
}

.ac .ac-trigger {
  padding: 0;
  padding: 30px 0;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cacaca;
  font: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.ac:last-child .ac-trigger {
  border-bottom: 1px solid #cacaca;
}

.ac .ac-trigger:focus {
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  color: #ff9900;
}

.ac .ac-trigger:focus .faq-list__icon_ellipse {
  fill: #ff9900;
}

.ac .ac-trigger:focus .faq-list__icon_cross {
  fill: #fff;
}

.ac-trigger:hover {
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  color: #ff9900;
}

.ac .ac-trigger:hover .faq-list__icon_ellipse {
  fill: #ff9900;
}

.ac .ac-trigger:hover .faq-list__icon_cross {
  fill: #fff;
}

.ac:last-child .ac-trigger:hover {
  border-bottom: 1px solid #ff9900;
}

.ac .ac-trigger:active {
  border-top: 1px solid #cacaca;
  border-bottom: none;
}

.is-active .faq-list__icon_ellipse {
  fill: #ececec;
}

.is-active .faq-list__icon_cross {
  fill: #666;
  transform: rotate(45deg);
  transform-origin: center;
}

.faq-list__icon_ellipse {
  fill: #ececec;
  transition: fill 0.3s ease-in-out;
  min-width: 50px;
}

.faq-list__icon_cross {
  fill: #666;
  transform-origin: center;
  transition: transform 0.3s ease-in-out,
    fill 0.3s ease-in-out;
}

.ac .ac-panel .ac-text {
  padding: 0 10px;
}

.ac-text p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.ac-text p:not(:last-child) {
  margin-bottom: 32px;
}

/* footer */

.footer {
  color: #CACACA;
  background-color: #222;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  width: 21.75%;
  min-width: 284px;
  /* margin-right: 348px; */
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-form-block {
  margin-right: 32px;
}

.footer-title {
  color: #CACACA;
  margin-bottom: 23px;
}

.footer-form {
  max-width: 570px;
  display: flex;
  flex-direction: column;
}

.footer-form__submit {
  display: flex;
  align-items: center;
}

.footer-form__text,
.footer-form__textarea {
  background-color: #414141;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  padding: 14px 24px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.footer-form__text::placeholder,
.footer-form__textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.footer-form__text {
  margin-bottom: 25px;
}

.footer-form__textarea {
  height: 150px;
  margin-bottom: 32px;
}

.footer-form__text:focus,
.footer-form__textarea:focus {
  background-color: #666;
  outline: none;
}

.footer-form__text:hover,
.footer-form__textarea:hover {
  background-color: #666;
}

.footer-form__text:active,
.footer-form__textarea:active {
  background-color: #666;
  color: #fff;
}

.footer-form__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 19px 52px;
  margin-right: 26px;
}

.footer-form__btn:focus {
  background-color: #F7B045;
}

.footer-form__btn:hover {
  background-color: #F7B045;
}

.footer-form__btn:active {
  background-color: #E1670E;
}

.footer-form__checkbox {
  width: 14px;
  height: 14px;
  z-index: -1;
  opacity: 0;
}

.footer-form__checkbox__text::before {
  content: "";
  position: absolute;
  left: -18px;
  bottom: calc((100% - 17px)/2);
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-form__checkbox:checked+
.footer-form__checkbox__text::before {
  background-image: url(../img/footer/check.svg);
}

.footer-form__checkbox__text {
  font-weight: 400;
  position: relative;
  padding-top: 16px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}

.footer-text {
  margin: 0;
  width: 20.5%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  padding-top: 88px;
}

.footer-nav {
  margin-bottom: 90px;
}

.footer-nav-list {
  margin: 0;
}

.footer-nav-list__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  transition: color 0.3s ease-in-out;
}

.footer-nav-list__link::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -5px;
  bottom: 2px;
  left: -5px;
  outline: 2px solid #FF9900;
  opacity: 0;
}

.footer-nav-list__link:focus {
  outline: none;
}

.footer-nav-list__link:focus::after {
  opacity: 1;
}

.footer-nav-list__link:hover {
  color:#FF9900;
}

.footer-nav-list__link:active {
  color: #E1670E;
}

.footer-nav-list__link:active::after {
  outline: none;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-socials {
  display: flex;
  margin: 0;
  gap: 25px;
}

.footer-socials__icon {
  fill: #7C7C7C;
  transition: fill 0.3s ease-in-out;
}

.footer-socials__link:focus {
  outline: 2px solid #FF9900;
  outline-offset: 5px;
}

.footer-socials__link:hover .footer-socials__icon {
  fill: #ff9900;
}

.footer-socials__link:active {
  outline: none;
}

.footer-socials__link:active .footer-socials__icon {
  fill: #E1670E;
}




