html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  --space: 15px;
  font-family: "Roboto", sans-serif;
}

/* glob */

.row {
  --bs-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 30px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: var(--bs-gutter-x, 15px);
  padding-left: var(--bs-gutter-x, 15px);
}

.list-reset {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.btn {
  width: 100%;
  background-color: #3f2aff;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.section {
  margin-bottom: 50px;
}

/* header */

.header {
  background-color: #3f2aff;
}

.header-logo__svg {
  width: 94px;
  margin-bottom: 6px;
}

.header__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-right {
  display: flex;
}

.header-nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.header-nav__list {
  display: flex;
  gap: min(56px, 4vw);
}

.header__burger {
  display: none;
  background: none;
  border: none;
  padding: 0;
}

/* hero */

.hero {
  background: radial-gradient(
    44.07% 44.07% at 67.78% 55.93%,
    #555681 0%,
    #212133 100%
  );
}

.hero__container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  color: #ffffff;
}

.hero__descr {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
}

.hero__btn-wrap {
  min-width: 245px;
}

/* about */

.about__title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #2e2b44;
}

.about__descr {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.about-item:not(:last-child) {
  margin-bottom: 30px;
}

.about-intro__bckg {
  background-image: url(../img/adv/adv.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.about-item__bckg {
  min-height: 80px;
  background-repeat: no-repeat;
  background-position: center;
}

.about-item:first-child .about-item__bckg {
  background-image: url(../img/adv/eye-circle.svg);
}

.about-item:nth-child(2) .about-item__bckg {
  background-image: url(../img/adv/fingers.svg);
}

.about-item:last-child .about-item__bckg {
  background-image: url(../img/adv/loud.svg);
}

.about-item__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #666666;
}

/* teachers */

.teachers {
  margin-bottom: 45px;
  background-color: #212133;
}

.teachers__container {
  padding-top: 47px;
  padding-bottom: 50px;
}

.teachers__title {
  margin-bottom: 26px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
}

.teachers__item:not(:last-child) {
  margin-bottom: 22px;
}

.teachers__photo {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 30px;
  border-radius: 26px 26px 0 0;
  overflow: hidden;
}

.teachers__name {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.teachers__descr {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #85859b;
}

/* courses */

.courses__title {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #2e2b44;
}

.courses-item {
  min-height: 653px;
}

.courses__card {
  position: relative;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: #edf0f9;
}

.courses-item__bckg {
  height: 180px;
  background-repeat: no-repeat;
  background-size: cover;
}

.courses-item:nth-child(1) .courses-item__bckg {
  background-image: url(../img/courses/courses-1-320.jpg);
}

.courses-item:nth-child(2) .courses-item__bckg {
  background-image: url(../img/courses/courses-2-320.jpg);
}

.courses-item:nth-child(3) .courses-item__bckg {
  background-image: url(../img/courses/courses-3-320.jpg);
}

.courses-item:nth-child(4) .courses-item__bckg {
  background-image: url(../img/courses/courses-4-320.jpg);
}

.courses__name {
  max-width: 194px;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #2e2b44;
}

.courses__text-wrap {
  padding: 30px 30px 0 30px;
}

.courses-btn-wrap {
  width: 225px;
  padding-left: 30px;
}

.courses-btn {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.courses__descr {
  margin-bottom: 82px;
}

.courses-time {
  position: absolute;
  height: 20px;
  padding-left: 27px;
  top: 12px;
  right: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background-image: url(../img/courses/mdi_access_time.svg);
  background-repeat: no-repeat;
  background-position: left;
}

/* footer */

.footer__content {
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #2e2b44;
}

.socials-list__item {
  width: 24px;
}

.socials-list__item:not(:last-child) {
  margin-right: 23px;
}

.trademark {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #2e2b44;
}

.trademark span {
  color: #3f2aff;
}
